body.no-scroll {
  overflow: hidden;
}

section img {
  border-radius: 10px;
  box-shadow: 1px 0.5px 10px rgb(173, 173, 173);
  background: #000000;
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: inline-block;
}

section img:hover {
  width: 305px;
  box-shadow: 1px 0.5px 20px rgb(173, 173, 173);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.overlay.open {
  display: flex;
}

.overlay img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 1px 0.5px 10px rgb(19, 19, 19);
}

.close-btn {
  position: absolute;
  font-family: Courier;
  top: 20px;
  right: 30px;
  color: rgb(255, 0, 0);
  font-size: 40px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid black;
}

.close-btn:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s ease;
  user-select: none;
  z-index: 1010;
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}

/* ---- section sticky header---- */

header h1 {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: #ddd;
  text-align: center;
}

.gallery-section h2 {
  background-color: aliceblue;
  margin-top: 55px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

#sticky-header {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgb(139, 196, 134);
  margin-top: 38px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  display: none;
}
